@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* color palette link */
/* https://coolors.co/89b6a5-4c3b4d-c9eddc-82968c-6a706e */
/* var(--cambridge-blue) */
:root {
  --font-family: 'Abril', 'Courier New', 'Courier', 'monospace';
  --periwinkle: #dcd6f7ff;
  --periwinkle-2: #a6b1e1ff;
  --puce: #b4869fff;
  --china-rose: #985f6fff;
  --english-violet: #4e4c67ff;
  --base: rgb(221, 222, 228);
}

html, body {
  height: 100%;
}

.App {
  text-align: center;
}

.hide {
  display: none;
}


/* HOMEPAGE */
#infoCards {
  margin-left: 300px;
}

#View {
  font-family: 'Courier New';
  color: var(--english-violet);
  /* font-family: var(--font-family); */
  font-style: oblique;
  position: absolute;
  z-index: 6;
  text-align: left;
  width: 100px;
  text-align: center;
  top: 230px;
}

.sideColumn {
  font-size: xxx-large;
}

#homepageImg {
  position: relative;
  float: left;
  margin-left: 876px;
  bottom: 1050px;
}

#firstCard {
  font-family: "Abril";
  height: 300px;
  width: 500px;
  color: var(--english-violet);
  border: 5px groove var(--english-violet);
  background-color: white;
  z-index: 4;
  position: relative;
  top: 195px;
  margin-left: 260px;
}

#firstCard:active {
  z-index: 4;
}

#secondCard {
  font-family: "Abril";
  height: 300px;
  width: 500px;
  color: var(--english-violet);
  border: 8px groove var(--english-violet);
  background-color: white;
  z-index: 3;
  position: relative;
  bottom: 160px;
  margin-left: 300px;
}

#secondCard:hover {
  z-index: 4;
}

#thirdCard {
  font-family: "Abril";
  height: 300px;
  width: 500px;
  color: var(--english-violet);
  border: 5px groove var(--english-violet);
  background-color: white;
  z-index: 2;
  position: relative;
  bottom: 520px;
  margin-left: 340px;
}

#thirdCard:hover {
  z-index: 4;
}

#fourthCard {
  font-family: "Abril";
  height: 300px;
  width: 500px;
  color: var(--english-violet);
  border: 8px groove var(--english-violet);
  background-color: white;
  z-index: 1;
  position: relative;
  bottom: 885px;
  margin-left: 380px;
}

#fourthCard:hover {
  z-index: 4;
}

.underline{ 
  text-decoration: underline;
}

/* HEADER */
/* NAV */
#navBar {
  font-family: 'Abril';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--english-violet);
  border-style: none none groove none;
  border-radius: 10px;
}

#name {
  margin-left: 40px;
  text-shadow: -2px -1px 1px var(--periwinkle-2);
  text-decoration-color: var(--english-violet);
  font-family: "Abril";
  font-weight: bolder;
  color: var(--cambridge-blue-2);
  margin-top: 35px;
}

#links {
  color: var(--english-violet);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 80px;
}

li {
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  margin: 15px;
  margin-top: 41px;
}

li:active {
  font-size: 18px;
  color: var(--china-rose);
  text-shadow: var(--english-violet) 1px 0 10px;
}

/* CONTACT */
#contactImg {
  z-index: 2;
  float: left;
  margin-left: 400px;
  top: 100px;
}

#contacts {
  margin-left: 40%;
  font-family: 'Abril';
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  text-decoration: none !important;
}

#Communications {
  font-family: "Abril";
  font-size: 25px;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: var(--english-violet);
  color: var(--english-violet);
  text-align: start;
  margin-top: 20px;
  margin-bottom: 40px;
}

#btnEmail {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: var(--china-rose);
  box-shadow: inset 0 0 0 2px var(--english-violet);
  background-color: transparent;
  height: 48px;
}

#btnEmail:hover{
  color: white;
  background-color: var(--english-violet);
}  

#btnGithub {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: var(--china-rose);
    box-shadow: inset 0 0 0 2px var(--english-violet);
    background-color: transparent;
    height: 48px;
  }
  
#btnGithub:hover{
      color: white;
      background-color: var(--english-violet);
  }  




















/* PORTFOLIO */
#portfolioImg {
  /* img transparent BG */
  background-color: rgb(78, 76, 103, 0.2); 
  border-radius: 100px;
  box-shadow:  var(--english-violet) 0px 12px 13px, var(--english-violet) 0px 5px 13px;
  float: right;
  z-index: 2;
  margin-left: 580px;
  position: fixed;
  top: 300px;
}

/* PROJECTS */
.title {
  font-size: 25px;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: var(--english-violet);
  color: var(--english-violet);
  text-align: start;
  margin-top: 20px;
  margin-bottom: 40px;
}

#projectsContainer {
  font-family: 'Abril';  
  color: var(--periwinkle-2);
}

#projectSection {
  display: flex;
  justify-content: space-evenly;
  /* width: 100% */
}

#btn1 {
  background-image: url("./Assets/HtmlProject.png");
  border: solid var(--mint-green) 15px;
  height: 200px;
  width: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
}

#btn2 {
  background-image: url("./Assets/CssProject.png") ;  
  border: solid var(--mint-green) 15px;
  height: 200px;
  width: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
}

#btn3 {  
  background-image: url("./Assets/MovieProject.png") ;
  border: solid var(--mint-green) 15px;
  height: 200px;
  width: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
}

#btn4 {
  background-image: url("./Assets/CarProject.png");
  border: solid var(--mint-green) 15px;
  height: 200px;
  width: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
}

.card-text {
  opacity: 0;
  text-align: center;
  color: var(--periwinkle);
  font-size: 15px;
}

.card-text:hover{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: rgb(78, 76, 103, 1); 
  opacity: 0.8;
}

/* RESUME */
#title {
  justify-content: left;
  width: 300px;
  margin-left: 40px;
  text-shadow: -2px -1px 1px var(--periwinkle-2);
  text-decoration-color: var(--english-violet);
  font-family: "Abril";
  font-weight: bolder;
  color: var(--cambridge-blue-2);
}


.container {
  height: auto;
  overflow: hidden;
}

.right {
  flex-wrap: wrap; 
  flex-direction: column;
  width: 200px;
  float: right;
}

.left {
  flex-wrap: wrap; 
  flex-direction: column;
width: auto;
overflow: hidden;
}


#skill {
  /* margin-left: 20px;
  flex-direction: column;
  flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  width: 400px;
  height: 300px;
  background-color: rgb(78, 76, 103, 0.2); 
border-radius: 100px;
box-shadow:  var(--english-violet) 0px 12px 13px, var(--english-violet) 0px 5px 13px;
}

/* #skillList {
  margin-left: 20px;
  align-items: flex-start;
    display: flex;
  flex-direction: column;
}

#skillList2 {
  margin-right: 20px;
  margin-bottom: 1000px;
  align-items: flex-end;
  display: flex;
 flex-direction: column;
} */

#education {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: rgb(78, 76, 103, 0.2); 
border-radius: 100px;
box-shadow:  var(--english-violet) 0px 12px 13px, var(--english-violet) 0px 5px 13px;
}

#skillEdu {
  margin-top: 35px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#history {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  background-color: rgb(78, 76, 103, 0.2); 
border-radius: 100px;
box-shadow:  var(--english-violet) 0px 12px 13px, var(--english-violet) 0px 5px 13px;
z-index: 2;
}

#ref {  
  margin-top: 40px;
  margin-left: 600px;
  justify-content: center;
  width: 300px;
  height: 30px;
  margin-bottom: 500px;
  background-color: rgb(78, 76, 103, 0.2); 
border-radius: 100px;
box-shadow:  var(--english-violet) 0px 12px 13px, var(--english-violet) 0px 5px 13px;
}


/* FOOTER */
#footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-style: groove none none none;
  border-radius: 10px;
}


/* MEDIA CHANGES */

@media screen and (max-width: 600px) {
  html {
    width: 100%;
  }
}